openapi: 3.0.1
info:
  title: Financial Services API
  description: API to perform credit assertiveness checks for loan applications at a bank.
  version: 1.0.0
servers:
  - url: https://api.bank.com/v1
tags:
  - name: Financial Services
    description: Operations related to Credit

paths:
  /loan/financial-services:
    get:
      tags:
        - Financial Services
      summary: "Get credit details"
      operationId: "financialServices"
      parameters:
        - x-fapi-financial-id:
          in: "header"
          name: "x-fapi-financial-id"
          required: true
          description: "The"
          schema:
            type: "string"

        - x-fapi-interaction-id:
          in: "header"
          name: "x-fapi-interaction-id"
          required: true
          description: "The"
          schema:
            type: "string"

        - Authorization:
          in: "header"
          name: "Authorization"
          required: true
          description: "The"
          schema:
            type: "string"

      responses:
        '200':
          $ref: "#/components/responses/200FinancialServicesResponse"

components:
  schemas:
    Address:
      type: object
      properties:
        street:
          type: string
          description: Street address.
        city:
          type: string
          description: City.
        state:
          type: string
          description: State or region.
        postalCode:
          type: string
          description: Postal or ZIP code.
        country:
          type: string
          description: Country.
    IdDocument:
      type: object
      properties:
        type:
          type: string
          description: Type of ID document (e.g., passport, driver's license).
        number:
          type: string
          description: ID document number.
        issueDate:
          type: string
          format: date
          description: Date of issue of the ID document.
        expiryDate:
          type: string
          format: date
          description: Expiry date of the ID document.
    Amount:
      type: object
      properties:
        amount:
          type: string
          description: Type of ID document (e.g., passport, driver's license).
        currency:
          type: string
          description: ID document number.
        subtype:
          $ref: '#/components/schemas/BaseCurrency'
    CreditLine:
      type: object
      properties:
        included:
          type: boolean
          description: Type of ID document (e.g., passport, driver's license).
        type:
          type: string
          description: ID document number.
        amount:
          $ref: '#/components/schemas/Amount'
    LocalAmount:
      type: object
      properties:
        amount:
          type: boolean
          description: Type of ID document (e.g., passport, driver's license).
        currency:
          type: string
          description: ID document number.
        subType:
          type: string
          description: Date of issue of the ID document.
    BaseCurrency:
      type: object
      properties:
        currency:
          type: string
          description: base currency
    LocalCurrency:
      type: object
      properties:
        currency:
          type: string
          description: local currency
    AccountDetails:
      type: object
      properties:
        accountNumber:
          type: string
          description: account number
        accountType:
          type: string
          description: account type
    KycDocumentResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the KYC entry.
        userId:
          type: string
          description: Unique identifier for the user.
        document1Name:
          type: string
          description: Name of the first uploaded document.
        document2Name:
          type: string
          description: Name of the second uploaded document.
        document3Name:
          type: string
          description: Name of the third uploaded document.
        status:
          type: string
          description: Status of the transaction.
        message:
          type: string
          description: Detailed message regarding the transaction status.
    ErrorResponse:
      type: object
      properties:
        status:
          type: string
          description: Error status.
        message:
          type: string
          description: Error message.
    FinancialServicesDetails:
      type: object
      properties:
        totalIncome:
          type: string
          description: Approval status (e.g., approved, denied, pending).
        totalExpense:
          type: string
          description: User's credit score.
        creditLine:
          type: string
          description: Proposed interest rate for the loan.
        existingBalance:
          type: string
          description: Estimated monthly payment.
        totalCredits:
          type: string
          description: Term of the loan in months or years.
        totalDebits:
          type: string
          description: Total amount to be repaid.
        totalDebtObligations:
          type: string
          description: Advice for improving credit score or loan approval chances.

  responses:
    200CreditResponse:
      description: Credit assertiveness check successful.
      content:
        application/json:
          schema:
            type: object
            properties:
              totalIncome:
                type: string
                description: Approval status (e.g., approved, denied, pending).
              totalExpense:
                type: string
                description: User's credit score.
              creditLine:
                type: string
                description: Proposed interest rate for the loan.
              existingBalance:
                type: string
                description: Estimated monthly payment.
              totalCredits:
                type: string
                description: Term of the loan in months or years.
              totalDebits:
                type: string
                description: Total amount to be repaid.
              totalDebtObligations:
                type: string
                description: Advice for improving credit score or loan approval chances.

    200FinancialServicesResponse:
      description: Credit assertiveness check successful.
      content:
        application/json:
          schema:
            type: object
            properties:
              creditScore:
                type: number
                description: Approval status (e.g., approved, denied, pending).

              loanApprovalStatus:
                type: string
                description: User's credit score.

              loanApprovalAmount:
                type: number
                description: Proposed interest rate for the loan.







