openapi: 3.0.1
info:
  title: Bank Credit Assertiveness API
  description: API to perform credit assertiveness checks for loan applications at a bank.
  version: 1.0.0
servers:
  - url: https://api.bank.com/v1
tags:
  - name: Credit
    description: Operations related to Credit

paths:
  /loan/credit-assertiveness:
    post:
      tags:
        - Credit
      summary: Perform Credit Assertiveness Check
      description: Endpoint to perform credit assertiveness check for a loan application.
      operationId: performCreditAssertivenessCheck
      requestBody:
        description: Request object containing customer and loan details for credit assertiveness check.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  description: Unique identifier for the user.
                firstName:
                  type: string
                  description: First name of the user.
                lastName:
                  type: string
                  description: Last name of the user.
                dateOfBirth:
                  type: string
                  format: date
                  description: Date of birth of the user.
                address:
                  $ref: '#/components/schemas/Address'
                idDocument:
                  $ref: '#/components/schemas/IdDocument'
                AccountDetails:
                  $ref: '#/components/schemas/AccountDetails'
                income:
                  type: number
                  description: User's annual income.
                employmentStatus:
                  type: string
                  description: User's employment status (e.g., employed, unemployed, student).
                loanAmount:
                  type: number
                  description: Amount of loan requested.
                loanPurpose:
                  type: string
                  description: Purpose of the loan (e.g., home, car, education).
                loanTerm:
                  type: number
                  description: Term of the loan in months or years.
                otherDebts:
                  type: number
                  description: Total amount of other debts.
                coSigner:
                  type: object
                  description: Co-signer details (optional).
                  properties:
                    exists:
                      type: boolean
                      description: Whether there is a co-signer.
                    creditScore:
                      type: number
                      description: Co-signer's credit score.
                propertyDetails:
                  type: object
                  description: Details about the property if applicable (optional).
                  properties:
                    value:
                      type: number
                      description: Property value.
                    type:
                      type: string
                      description: Property type (e.g., house, condo).
                repaymentSchedule:
                  type: string
                  description: Total amount of other debts.
                businessName:
                  type: string
                  description: Total amount of other debts.
      responses:
        '200':
          $ref: "#/components/responses/200PerformCreditAssertivenessCheckResponse"
  /loan/credit-details:
    get:
      tags:
        - Credit
      summary: "Get credit details"
      operationId: "creditDetails"
      parameters:
        - x-fapi-financial-id:
          in: "header"
          name: "x-fapi-financial-id"
          required: true
          description: "The"
          schema:
            type: "string"

        - x-fapi-interaction-id:
          in: "header"
          name: "x-fapi-interaction-id"
          required: true
          description: "The"
          schema:
            type: "string"

        - Authorization:
          in: "header"
          name: "Authorization"
          required: true
          description: "The"
          schema:
            type: "string"

      responses:
        '200':
          $ref: "#/components/responses/200CreditResponse"

components:
  schemas:
    Address:
      type: object
      properties:
        street:
          type: string
          description: Street address.
        city:
          type: string
          description: City.
        state:
          type: string
          description: State or region.
        postalCode:
          type: string
          description: Postal or ZIP code.
        country:
          type: string
          description: Country.
    IdDocument:
      type: object
      properties:
        type:
          type: string
          description: Type of ID document (e.g., passport, driver's license).
        number:
          type: string
          description: ID document number.
        issueDate:
          type: string
          format: date
          description: Date of issue of the ID document.
        expiryDate:
          type: string
          format: date
          description: Expiry date of the ID document.
    Amount:
      type: object
      properties:
        amount:
          type: string
          description: Type of ID document (e.g., passport, driver's license).
        currency:
          type: string
          description: ID document number.
        subtype:
          $ref: '#/components/schemas/BaseCurrency'
    CreditLine:
      type: object
      properties:
        included:
          type: boolean
          description: Type of ID document (e.g., passport, driver's license).
        type:
          type: string
          description: ID document number.
        amount:
          $ref: '#/components/schemas/Amount'
    LocalAmount:
      type: object
      properties:
        amount:
          type: boolean
          description: Type of ID document (e.g., passport, driver's license).
        currency:
          type: string
          description: ID document number.
        subType:
          type: string
          description: Date of issue of the ID document.
    BaseCurrency:
      type: object
      properties:
        currency:
          type: string
          description: base currency
    LocalCurrency:
      type: object
      properties:
        currency:
          type: string
          description: local currency
    AccountDetails:
      type: object
      properties:
        accountNumber:
          type: string
          description: account number
        accountType:
          type: string
          description: account type
    KycDocumentResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the KYC entry.
        userId:
          type: string
          description: Unique identifier for the user.
        document1Name:
          type: string
          description: Name of the first uploaded document.
        document2Name:
          type: string
          description: Name of the second uploaded document.
        document3Name:
          type: string
          description: Name of the third uploaded document.
        status:
          type: string
          description: Status of the transaction.
        message:
          type: string
          description: Detailed message regarding the transaction status.
    ErrorResponse:
      type: object
      properties:
        status:
          type: string
          description: Error status.
        message:
          type: string
          description: Error message.

  responses:
    200PerformCreditAssertivenessCheckResponse:
      description: Credit assertiveness check successful.
      content:
        application/json:
          schema:
            type: object
            properties:
              approvalStatus:
                type: string
                description: Approval status (e.g., approved, denied, pending).
              creditScore:
                type: number
                description: User's credit score.
              interestRate:
                type: number
                description: Proposed interest rate for the loan.
              monthlyPayment:
                type: number
                description: Estimated monthly payment.
              loanTerm:
                type: number
                description: Term of the loan in months or years.
              totalRepayment:
                type: number
                description: Total amount to be repaid.
              creditAdvice:
                type: string
                description: Advice for improving credit score or loan approval chances.
    200CreditResponse:
      description: Credit assertiveness check successful.
      content:
        application/json:
          schema:
            type: object
            properties:
              total_income:
                type: string
                description: Approval status (e.g., approved, denied, pending).
              total_expense:
                type: string
                description: User's credit score.
              credit_line:
                type: string
                description: Proposed interest rate for the loan.
              existing_balance:
                type: string
                description: Estimated monthly payment.
              total_credits:
                type: string
                description: Term of the loan in months or years.
              total_debits:
                type: string
                description: Total amount to be repaid.
              total_debt_obligations:
                type: string
                description: Advice for improving credit score or loan approval chances.
    CreditDetailsResponse:
      description: Credit details response
      content:
        application/json:
          schema:
            type: "object"
            properties:
              Balance:
                type: "array"
                items:
                  type: "object"
                  description: "Set of elements used to define the balance details."
                  required:
                    - "AccountId"
                    - "Amount"
                    - "TotalDebit"
                    - "TotalCredit"
                  properties:
                    TotalDebit:
                      description: "A unique and immutable identifier used to identify the account resource. This identifier has no meaning to the account owner."
                      type: "string"
                      minLength: 1
                      maxLength: 40
                    TotalCredit:
                      description: "A unique and immutable identifier used to identify the account resource. This identifier has no meaning to the account owner."
                      type: "string"
                      minLength: 1
                      maxLength: 40
                    AccountId:
                      description: "A unique and immutable identifier used to identify the account resource. This identifier has no meaning to the account owner."
                      type: "string"
                      minLength: 1
                      maxLength: 40
                    Amount:
                      type: "object"
                      required:
                        - "Amount"
                        - "Currency"
                      description: "Amount of money of the cash balance."
                      properties:
                        Amount:
                          description: "A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217."
                          type: "string"
                          pattern: "^\\d{1,13}$|^\\d{1,13}\\.\\d{1,5}$"
                        Currency:
                          description: "A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 \"Codes for the representation of currencies and funds\"."
                          type: "string"
                          pattern: "^[A-Z]{3,3}$"
                        SubType:
                          description: "The amount in the domestic or base accounting currency. Default is Base Currency (BCUR) if not specified"
                          type: "string"
                          enum:
                            - "BaseCurrency"
                            - "LocalCurrency"
                          default: "BaseCurrency"
                    CreditLine:
                      type: "array"
                      items:
                        type: "object"
                        description: "Set of elements used to provide details on the credit line."
                        properties:
                          Amount:
                            type: "object"
                            required:
                              - "Amount"
                              - "Currency"
                            description: "Amount of money of the credit line."
                            properties:
                              Amount:
                                description: "A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217."
                                type: "string"
                                pattern: "^\\d{1,13}$|^\\d{1,13}\\.\\d{1,5}$"
                              Currency:
                                description: "A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 \"Codes for the representation of currencies and funds\"."
                                type: "string"
                                pattern: "^[A-Z]{3,3}$"
                    LocalAmount:
                      type: "object"
                      required:
                        - "Amount"
                        - "Currency"
                      description: "Optional component providing the equivalent of Amount in local currency. Default is Local Currency (LCUR) if not specified"
                      properties:
                        Amount:
                          description: "A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217."
                          type: "string"
                          pattern: "^\\d{1,13}$|^\\d{1,13}\\.\\d{1,5}$"
                        Currency:
                          description: "A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 \"Codes for the representation of currencies and funds\"."
                          type: "string"
                          pattern: "^[A-Z]{3,3}$"
                        SubType:
                          description: "The amount in the local market currency for which the asset is held."
                          type: "string"
                          enum:
                            - "BaseCurrency"
                            - "LocalCurrency"
                          default: "LocalCurrency"
                minItems: 1
              TotalValue:
                type: "object"
                required:
                  - "Amount"
                  - "Currency"
                description: "Combined sum of all Amounts in the accounts base currency"
                properties:
                  Amount:
                    description: "A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217."
                    type: "string"
                    pattern: "^\\d{1,13}$|^\\d{1,13}\\.\\d{1,5}$"
                  Currency:
                    description: "A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 \"Codes for the representation of currencies and funds\"."
                    type: "string"
                    pattern: "^[A-Z]{3,3}$"







